@charset "utf-8";
@import url('https://fonts.googleapis.com.css? family=Noto+Sans+KR&display=swap');
body {
	width:100%;
	font-family:'Noto Sans KR', snas-serif;;
	font-size: 14pt;
	line-height:170%
	color #333;	
}

/*중앙 메인이미지*/

.content {
	width : 100%;
	
}
.content .prolist {
	width : 300px;
	float : left;
	margin-left:70px;
	margin-top:40px;
}